<div class="card col-md-4  mx-auto mt-5">
  <div class="card-header bg-info text-center mb-3">
    <h5 style="color:white">login</h5>
  </div>
  <form action="/cargar-articulo" method="get">
    <div class="mb-3">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electronico">
    </div>
    <div class="mb-3">
      <i class="fa-solid fa-key"></i>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
    </div>
    <button type="submit" class="btn btn-primary mb-3">Login</button>
    <div id="emailHelp" class="form-text text-center">Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad</div>
    <br>
    <div class="form-text text-center">¿No tienes una cuenta? <a href="/registro">Registrate</a></div>

